body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* 전체 배경색 설정 */
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.header {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #333; /* 헤더 배경색 설정 */
  color: #fff; /* 헤더 텍스트 색상 설정 */
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expense-form-container,
.expense-list-container,
.filter-container {
  width: 50%;
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expense-form-container h2,
.expense-list-container h2,
.filter-container h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  .expense-form-container,
  .expense-list-container,
  .filter-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
